@media only screen and (min-width:320px) {
#section2{
  background: url(../images/LalitAshokNightView.jpg);
  position: relative;
  height: 600px;
  background-position: center center;
}

#section3{
  background: url(../images/SutraReloaded.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 400px;
}

#section4{
  background: url(../images/holi-colors.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#section5{
  background: url(../images/pool.jpg);
  position: relative;
  height: 500px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#section6{
  background: url(../images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section7{
  background: url(../images/para-back.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
  position: relative;
}
#section8{
  height: 800px;
  padding: 10px 0;
  background: url(../images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



#section1 img{
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: top;
  transform: translate(-50%,-50%) rotateY(90deg);
}
#section2 .infoline{
  width: 100%;
  background: rgba(0,0,0,0.7);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  padding: 30px 0;
}

#section4 .infoline{
  width: 100%;
  background: rgba(0,0,0,0.7);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 25%;
}

#section5 p{
  background: rgba(0,0,0,0.7);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,0);
  padding: 10px 20px;

}
.artists{
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #fff;
}
.a1 .thumb{
  background: url(../images/artist1.jpg);
}
.a2 .thumb{
  background: url(../images/artist2.jpg);
}
.a3 .thumb{
  background: url(../images/artist3.jpg);
}
.a4 .thumb{
  background: url(../images/artist4.jpg);
}

.artist .thumb{
  width:130px;
  height: 130px;
  border: 4px solid #fff;
  box-shadow: 0 2px 3px 3px rgba(0,0,0,0.2);
  border-radius: 50%;
  overflow: hidden;
  background-size: contain;
  background-position: center;
}

#section7 img{
  position: absolute;
  top:50%;
  left: 5%;
  width: 200px;
  transform: translate(0,-50%);
  border-radius: 3px;
}
#section8 .map{
  height: 40%;
  width: 90%;
}
#section8 .booking{
  height: 55%;
  width: 90%;
  text-align: center;
}
#section8 .map iframe{
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

#section8 .booking iframe{
  width: 100%;
  height: 85%;
  border-radius: 3px;
}
#book{
  font-size: 20px;
  font-weight: bold;
}
.foot{
  background: url(../images/background.jpg);
}
footer{
  background: rgba(255,255,255,0.2);
  max-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
}
footer .mirrorlops a{
  font-family: 'Megrim', sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
footer .logo img{
  width: 50px;
}
footer .social a{
  padding: 5px;
}
footer .social img{
  width: 20px;
}
}

@media only screen and (min-width:640px) {
  .artists{
    height: 550px;
  }
  .artist .thumb{
    height: 180px;
    width: 180px;
  }
  footer{
    font-size: 14px;
  }
  footer .logo img{
    width: 60px;
  }
}
@media only screen and (min-width:720px) {
  .section{
    height: 100vmin;
  }
  #section2 .infoline{
    font-size: 40px;
  }
  #section4 .infoline{
    font-size: 25px;
  }
  .artists{
    height: 350px;
  }

  #section8{
    height: 100vmin;
    flex-direction: row;
  }
  #section8 .map{
    height: 80%;
    width: 60%;
  }
  #section8 .booking{
    width: 35%;
    height: 80%;
    font-size: 20px;
  }
  #book{
    font-size: 25px;
  }
}


@keyframes flipInX {
  from {
    transform: translate(-50%,-50%) perspective(400px) rotate3d(1, 0, 0, 120deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform:translate(-50%,-50%) perspective(400px) rotate3d(1, 0, 0, -50deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform:translate(-50%,-50%) perspective(400px) rotate3d(1, 0, 0, 30deg);
    opacity: 1;
  }

  80% {
    transform:translate(-50%,-50%) perspective(400px) rotate3d(1, 0, 0, -15deg);
  }

  to {
    transform:translate(-50%,-50%) perspective(400px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation: flipInX 1s 1s forwards;
}
